* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

#contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

img {
    width: 200px;
}

#carrito {
    font-size: 25px;
}

.contenedorCantidad {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#divCarrito ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

li {
    display: flex;
}