* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

img {
    width: 200px;
}

#carrito {
    font-size: 25px;
}